:root {
	--boxes-size: 600px;
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	height: 100vh;
}

.boxes {
	width: var(--boxes-size);
	height: var(--boxes-size);
	border: 1px solid #000;
	position: relative;
}

.box {
	width: 150px;
	height: 150px;
	background-color: #efed40;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	transition: transform 3s linear, background-color 1.5s linear;
	position: absolute;
	overflow: hidden;
}

.boxes:hover .box {
	cursor: pointer;
	background-color: red;
	transform: translateX(calc(var(--boxes-size) - 100%));
}
