* {
	box-sizing: border-box; /* [margin-border(width)-padding-content] */
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	width: 600px; /* 20px */
	height: 600px; /* 30px */
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(4, 100px);
	gap: 10px;
}

.box {
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-2 {
	grid-area: 1 / 2 / 3 / 4;
}
.box-4 {
	grid-area: 3 / 1 / -1 / 2;
}
