header {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 125px;
		width: 100%;

		.menu {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			align-items: center;
			gap: 48px;

			.menu-link {
				color: var(--white);
				text-decoration: none;
				font-weight: bold;
			}

			.menu-link:hover,
			.menu-link:focus {
				font-weight: bold;
				color: var(--link-active);
			}
		}

		.right {
			display: flex;
			align-items: center;
			gap: 48px;

			.icons {
				display: flex;
				align-items: center;
				gap: 48px;

				.icon {
					cursor: pointer;
					color: var(--white);
				}

				.icon:hover {
					color: var(--link-active);
				}
			}
		}
	}

	.hero {
		background-color: white;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		.title {
			padding: 0;
			margin: 0;
		}
		.description {
			padding: 0;
			margin: 0;
			margin-top: 32px;
		}

		.btn {
			margin-top: 64px;
		}
	}
}
