* {
	box-sizing: border-box;
	font-family: Inter;
}

body {
	background-color: var(--body);
}

/* Complete */
header {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;

	.navbar {
		width: 100%;
		background-color: var(--primary);

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 125px;

			.menu {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: flex;
				align-items: center;
				gap: 48px;

				.menu-link {
					color: var(--white);
					text-decoration: none;
					font-weight: bold;
				}

				.menu-link:hover,
				.menu-link:focus {
					font-weight: bold;
					color: var(--secondary);
				}
			}

			.right {
				display: flex;
				align-items: center;
				gap: 48px;

				.icons {
					display: flex;
					align-items: center;
					gap: 48px;

					.icon {
						cursor: pointer;
						color: var(--white);
					}

					.icon:hover {
						color: var(--secondary);
					}
				}
			}
		}
	}

	.hero {
		width: 100%;
		height: 740px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		.title {
			margin: 0;
			color: var(--white);
			font-family: Righteous;
			font-size: 72px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 93.6px */
		}

		.description {
			color: var(--white-80);
			font-family: Urbanist;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: 180%;
			text-transform: capitalize;
			margin: 0;
			margin-top: 32px;
		}

		.btn {
			margin-top: 64px;
		}
	}

	.play {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		position: absolute;
		bottom: 180px;
		right: 450px;

		.text {
			color: var(--white);
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
		}
	}
}

/* Complete */
.coffees {
	margin-top: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.card {
		display: flex;
		flex-direction: column;
		gap: 24px;

		.top {
			display: flex;
			gap: 12px;

			.number {
				color: var(--secondary);
				font-family: Righteous;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-transform: uppercase;
			}

			.name {
				color: var(--white);
				font-family: Righteous;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
}

/* Complete */
.our-histories {
	margin-top: 140px;
	height: 635px;
	display: grid;
	grid-template: repeat(2, 302px) / repeat(2, 298px) 510px;
	gap: 32px;

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.image-1 {
		grid-area: 1 / 1;
	}

	.image-2 {
		grid-area: 2 / 1;
	}

	.image-3 {
		grid-area: 1 / 2 / span 2 / span 1;
	}

	.card {
		grid-area: 1 / 3 / span 2 / span 1;
		background-color: var(--primary);
		padding: 120px 56px;

		.sub-title {
			color: var(--secondary);
			font-family: Urbanist;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}

		.title {
			color: var(--white);
			font-family: Righteous;
			font-size: 48px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
			margin-top: 12px;
		}

		.description {
			color: var(--white-80);
			font-family: Urbanist;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 180%; /* 28.8px */
			margin-top: 36px;
			text-transform: capitalize;
		}
	}
}

.popular-products {
	text-align: center;
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 56px;

	.sub-title {
		color: var(--secondary);
		font-family: Urbanist;
		font-size: 18px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.title {
		color: var(--white);
		font-family: Righteous;
		font-size: 48px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 62.4px */
	}

	.cards {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.card {
			background-color: var(--card, var(--app));
			padding: 48px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 36px;

			.info {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				.rate {
					display: flex;
					gap: 12px;

					.prefix {
						color: var(--secondary);
						font-family: Urbanist;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-transform: uppercase;
					}

					.rates {
						display: flex;
						align-items: center;
						gap: 4px;
					}
				}

				.name {
					color: var(--white);
					font-family: Righteous;
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-transform: uppercase;
				}

				.price {
					color: var(--white);
					font-family: Urbanist;
					font-size: 18px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					text-transform: uppercase;

					.current {
						color: var(--secondary);
					}
				}
			}
		}
	}

	.view-all-products {
	}
}
