:root {
	--primary: #1c1814;
	--secondary: #c99e71;
	--white: #ffffff;
	--white-80: rgba(255, 255, 255, 0.8);
	--white-50: rgba(255, 255, 255, 0.5);
	--body: #13110e;
	--card: #121315;
	--menu-card-border: #32323d;
	--input-bg: #14110e;
}
