* {
	box-sizing: border-box;
}

body {
	background-color: #e2e2e2;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shaxmatka {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 400px;
	background-color: black;
	border: 50px solid white;
}
