.navbar {
	background-color: var(--primary);
	padding: 35px 0;

	.container {
		display: flex;
		width: 100%;
		justify-content: space-between;

		.brand {
			width: 129px;
			height: auto;

			@media (min-width: 375px) {
				width: 187px;
				height: auto;
			}
		}

		.hamburger-menu {
			display: block;

			@media (min-width: 375px) {
				display: none;
			}
		}
		.menu {
			display: none;
			list-style-type: none;
			gap: 30px;
			align-items: center;

			.menu-link {
				color: var(--white);
				text-align: right;
				font-feature-settings: 'liga' off, 'clig' off;
				font-size: 20px;
				font-style: normal;
				font-weight: 400;
				line-height: 125%; /* 25px */
				text-decoration: none;
			}

			@media (min-width: 375px) {
				display: flex;
			}
		}
	}
}
