* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

.unsplash {
	display: flex;
	width: 900px;
	margin: 0 auto;
	gap: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
