* {
	box-sizing: border-box;
}

.boxes {
	width: 800px;
	height: 600px;
	display: flex;
	background-color: black;
	justify-content: center;
	gap: 10px;
	align-items: stretch;
}

.box {
	width: 150px;
	height: 150px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	transition: 0.3s all linear;
}

.box-1 {
	background-color: red;
}
.box-2 {
	background-color: dodgerblue;
}
.box-3 {
	background-color: darkgoldenrod;
}
