h1 {
	color: dodgerblue;
	font-size: 30px;
	background-color: green;
	text-align: initial;
}

a {
	color: inherit;
	font-size: 60px;
}

span {
	font-size: inherit;
	background-color: inherit;
}

span:hover {
	background-color: yellow;
}

.container {
	text-align: center;
}

button {
	color: inherit;
}

h1:hover {
	color: yellow;
}
