* {
	box-sizing: border-box; /* [margin-border(width)-padding-content] */
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.website {
	width: 1200px; /* 20px */
	height: 800px; /* 30px */
	display: grid;
	grid-template: 100px 1fr 100px / 100px 1fr;
	gap: 8px;
	grid-template-areas:
		'header header'
		'sidebar content'
		'sidebar footer';
}

.box {
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	border-radius: 12px;
}

.header {
	grid-area: header;
	background-color: #03ffb0;
	/* grid-column: 1 / -1; */
}

.sidebar {
	grid-area: sidebar;
	background-color: #00e7eb;
}
.content {
	grid-area: content;
	background-color: #ff3960;
}

.footer {
	grid-area: footer;
	background-color: #b76bff;
}
