* {
	box-sizing: border-box; /* [margin-border(width)-padding-content] */
}

:root {
	--primary: #344861;
	--primary-blue: #bbdefb;
	--gray: #bfc6d4;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sudoku {
	width: 1000px;
	height: 1000px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	background: var(--primary);
	gap: 2px;
	padding: 2px;
}

.board {
	display: grid;
	background-color: var(--gray);
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 1px;
}

.cell {
	background: #ffffff;
	transition: 0.3s linear all;
}

.cell:hover {
	cursor: pointer;
	background-color: var(--primary-blue);
}

.cell:active {
	transform: scale(0.9);
}

.grid-content {
	width: 400;
	grid-template-columns: 1fr 2fr 140px;
}
