* {
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.sudoku {
	width: 928px;
	height: 928px;
	background-color: #344861;
	padding: 4px;
}

.sudoku-row {
	display: flex;
	gap: 4px;
}

.sudoku-row:not(:first-child) {
	margin-top: 4px;
}

.board {
	width: 304px;
	height: 304px;
	background-color: #bfc5d4;
}

.row {
	display: flex;
	gap: 2px;
}

.row:not(:first-child) {
	margin-top: 2px;
}

.cell {
	width: 100px;
	height: 100px;
	background-color: #e1eaf3;
}
