* {
	box-sizing: border-box; /* [margin-border(width)-padding-content] */
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: minmax(100px, 1fr) auto;
	border: 3px solid red;
	place-content: center;
	place-items: center center;
	padding: 10px;
}

.box {
	background-color: dodgerblue;
	padding: 1rem;
	width: 50px;
}

.box-1 {
	width: 200px;
}
