@use '../utils/mixins';

.about {
	display: flex;
	gap: 100px;
	margin-top: 140px;

	.left {
		position: relative;
		width: 100%;

		.room-img {
			position: relative;
			width: 596px;
			height: 577px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 631px;
			height: 586px;
			background-color: var(--gray);
			top: 35px;
		}
	}

	.right {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.title {
			color: var(--primary);
			@include mixins.typography(Montserrat, 32px, normal, 700, 40px);
		}

		.description {
			color: var(--description-primary);
			margin-top: 20px;
			@include mixins.typography('DM Sans', 20px, normal, 400, 25px);
		}

		.cards {
			display: flex;
			flex-direction: column;
			gap: 40px;
			margin-top: 40px;

			.card {
				display: flex;
				gap: 28px;

				.detail {
					display: flex;
					flex-direction: column;
					gap: 14px;

					&-title {
						color: var(--primary);
						@include mixins.typography(Montserrat, 20px, normal, 700, 26px);
					}

					&-description {
						color: var(--description-primary);
						@include mixins.typography('DM Sans', 18px, normal, 400, 26px);
					}
				}
			}
		}
	}
}
