@use '../utils/mixins';

.btn {
	padding: 16px 26px;
	color: var(--primary);
	background-color: var(--white);
	cursor: pointer;
	transition: 0.03s linear transform;
	outline: none;
	border: none;
	@include mixins.typography('DM Sans', 20px, normal, 400, 25px);

	&-secondary {
		background-color: var(--primary);
		color: var(--white);
	}

	&:active {
		transform: scale(0.98);
	}
}
