@use '../utils/mixins';

.companies {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-top: 140px;

	.title {
		color: var(--primary);
		@include mixins.typography('DM Sans', 32px, normal, 700, normal);
	}
}
