@use '../utils/mixins';

.heading {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 530px;

	&__sub-title {
		color: var(--heading-sub-title-color);
		@include mixins.font(36px, normal, 400, normal, 'Yellowtail');
	}

	&__title {
		color: var(--primary);
		text-wrap: balance;
		@include mixins.font(50px, normal, 800, normal);
	}

	&--hero &__title {
		font-size: 70px;
	}
}
