@use '../utils/mixins';
.hero {
	height: 560px;
	display: flex;
	margin-top: 28px;

	.info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--primary);
		padding-top: 100px;
		padding-left: 100px;

		.title {
			color: var(--white);
			@include mixins.typography(Montserrat, 56px, normal, 700, normal);
		}

		.description {
			color: var(--white);
			width: 488px;
			margin-top: 20px;
			@include mixins.typography('DM Sans', 20px, normal, 400, 25px);
		}

		.btn {
			margin-top: 35px;
		}
	}
}
