@use '../utils/mixins';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 44px;

	.brand-name {
		color: var(--primary);

		@include mixins.typography(Montserrat, 24px, normal, 700, normal);
	}

	.menu {
		display: flex;
		align-items: center;
		gap: 50px;
		list-style: none;

		&-link {
			color: var(--link-color);
			text-decoration: none;
			width: 100%;
			@include mixins.typography('DM Sans', 16px, normal, 400, normal);
		}
	}

	.actions {
		display: flex;
		gap: 30px;
		align-items: center;
	}
}
