@use '../utils/mixins';

.popular {
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.title {
		color: #242424;
		text-align: center;
		align-self: flex-start;
		@include mixins.typography(Montserrat, 32px, normal, 700, 52px);
	}

	.middle {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		.description {
			color: #383738;
			@include mixins.typography('DM Sans', 20px, normal, 400, 27px);
		}

		.prev-next-btns {
			display: flex;
			align-items: center;
			gap: 16px;

			.prev-btn,
			.next-btn {
				background-color: var(--prev-next-btn-bg);
				color: var(--prev-next-btn-color);
				border: none;
				width: 40px;
				height: 40px;
				cursor: pointer;
				@include mixins.rounded;
				@include mixins.center;

				&:hover {
					color: var(--prev-next-btn-active-color);
				}
			}
		}
	}

	.cards {
		display: flex;
		margin-top: 80px;
		justify-content: space-between;

		.card {
			box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);

			&-footer {
				display: flex;
				flex-direction: column;
				padding: 20px;
				gap: 20px;

				.title-and-actions {
					display: flex;
					justify-content: space-between;

					.title {
						color: var(--primary);
						@include mixins.typography('DM Sans', 24px, normal, 500, 31px);
					}

					.actions {
						display: flex;
						gap: 8px;
						align-items: center;

						.action {
							width: 26px;
							height: 26px;
							@include mixins.center;
							border: none;
							background-color: var(--action-btn-bg);
							border-radius: 50%;

							&:hover {
								background-color: #ef5423;
								color: white;
								cursor: pointer;
							}
						}
					}
				}

				.price-and-buy {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.price {
						color: var(--primary);
						@include mixins.typography('DM Sans', 24px, normal, 500, 31px);
					}
				}
			}
		}
	}
}
