@function summa($a, $b) {
	@if ($a > 10px) {
		@return $a;
	} @else {
		@return math.div($a, $b);
	}
}

@function fizzBuzz($value) {
	$result: ''; // "Fizz"

	@if ($value % 3 == 0px) {
		$result: 'Fizz';
	}

	@if ($value % 5 == 0px) {
		$result: $result + 'Buzz';
	}

	@return $result;
}

@function media($breakpoint: null) {
	@if ($breakpoint == 'sm') {
		@return '576px';
	}

	@if ($breakpoint == 'md') {
		@return '768px';
	}

	@if ($breakpoint == 'lg') {
		@return '992px';
	}

	@if ($breakpoint == 'xl') {
		@return '1200px';
	}

	@if ($breakpoint == '2xl') {
		@return '1400px';
	}

	@return '<576px';
}

@function responsive() {
}

@function bittaFunksiya($a, $b) {
	$summa: $a + $b;

	@if ($summa <= 10px) {
		@if ($summa >= 5px) {
			@warn "Summa = " + $summa + " ga teng, lekin 10px dan katta bolgani yaxshiroq";
			@return $summa;
		} @else {
			@error "Summa 5 dan kichik bo'lishi kerak emas";
		}
	} @else {
		@return $a + $b;
	}
}
