@use 'sass:list';
@use 'sass:map';

@mixin media($breakpoint) {
	$map: (
		xs: 320px,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xxl: 1400px,
	);

	$min-width: map.get($map, $breakpoint);

	@if $min-width == null {
		@error "Invalid breakpoint: #{$breakpoint}";
	}

	@media (min-width: $min-width) {
		@content;
	}
}

@mixin font($size: 16px, $style: normal, $weight: 400, $line-height: 1.5) {
	font-family: Poppins;
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
	line-height: $line-height;
}
