@use 'sass:list';
@use 'sass:map';
@use './variables';

@mixin media($breakpoint) {
	$min-width: map.get(variables.$break-points, $breakpoint);

	@if $min-width == null {
		@error "Invalid breakpoint: #{$breakpoint}, please use one of the following: #{map.keys(variables.$break-points)}";
	}

	@media (min-width: $min-width) {
		@content;
	}
}

@mixin font($size: 16px, $style: normal, $weight: 400, $line-height: 1.5) {
	font-family: Roboto;
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
	line-height: $line-height;
}
