* {
	box-sizing: border-box;
}

p {
	font-size: 20px;
}

p::first-line {
	background-color: red;
}
p::first-letter {
	background-color: yellow;
	font-size: 100px;
}

p::selection {
	background-color: red;
	color: white;
}
