@import url('./typography.css');
@import url('./normalize.css');
@import url('./variables.css');
@import url('./globals.css');
@import url('./components/index.css');

h1 {
	font-weight: 200;
	font-style: italic;
}

h2 {
	font-weight: 500;
	font-style: italic;
}

h3 {
	font-weight: 900;
	font-style: italic;
}
