* {
	box-sizing: border-box;
}

body {
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.boxes {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	height: 600px;
	background-color: red;
}

.box {
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: dodgerblue;
}

.box-1 {
	width: 100px;
}
.box-2 {
	width: 100px;
}

.box-3 {
	flex-grow: 1;
}
