body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	width: 800px;
	height: 300px;
	background-image: linear-gradient(
		to right,
		red 200px,
		yellow 200px,
		yellow 400px,
		blue 400px,
		blue 600px,
		black 600px
	);
}
