@use 'sass:list';
$names: primary, success, danger, warning;
$colors: #007bff, #28a745, #dc3545, #ffc107;

@function get-color($name) {
	$idx: list.index($names, $name); // 1

	@if $idx == null {
		@error bunday #{$name} rang mavjud emas;
	}

	$color: list.nth($colors, $idx); // #007bff

	@return $color;
}
