:root {
	--link-color: #161616;
	--primary: #154444;
	--description-primary: #444;
	--white: #ffffff;
	--gray: #dee4e2;
	--prev-next-btn-bg: #f4f6f6;
	--prev-next-btn-color: #d1cece;
	--prev-next-btn-active-color: #666666;
}
