@forward './utils/placeholders';

.box-1 {
	@extend %center;
	background-color: red;
}

.box-2 {
	@extend %center;
	background-color: green;
}

// ...
.box-20 {
	@extend %center;
	background-color: yellow;
}
