* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 16px;
}

.default {
	background-color: yellow;
	width: max-content;
	padding: 16px;
	border-radius: 16px;
	cursor: pointer;
}

.active {
	background-color: black;
	color: white;
}
