* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100vh;
}
.box {
	width: 200px;
	height: 200px;
	font-size: 24px;
	font-weight: bold;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-left {
	background-color: #2b7ec2;
}

.box-right {
	background-color: #b21991;
}
