* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 16px;
}

.container {
	background-color: #efedd3;
	width: max-content;
	padding: 20px;
}

.box-a {
	background-color: #2b7ec2;
	width: max-content;
	padding: 20px;
}
.box-b {
	background-color: #b21991;
	width: max-content;
	padding: 20px;
}
