body {
	background-color: #e2e2e2;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.shaxmatka {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 400px;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	overflow: scroll;
}

img {
	width: 100%;
	height: auto;
}
