.coffees {
	margin-top: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.card {
		display: flex;
		flex-direction: column;
		gap: 24px;

		.top {
			display: flex;
			gap: 12px;

			.number {
				color: var(--secondary);
				font-family: Righteous;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-transform: uppercase;
			}

			.name {
				color: var(--white);
				font-family: Righteous;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
}
