.map {
	margin-top: 140px;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.booking {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 72px 48px;
		background: var(--primary);

		.inputs {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 24px;

			.input {
				padding: 16px 20px;
				background-color: var(--input-bg);
				color: var(--white-80);
				font-family: Urbanist;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: 180%; /* 32.4px */
				text-transform: capitalize;
			}
		}
	}
}
