.menu-coffees {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 140px;
	gap: 56px;

	.cards {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		row-gap: 36px;
		column-gap: 40px;

		.card {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px;
			border: 1px solid var(--menu-card-border);
			.left {
				display: flex;
				align-items: center;
				height: 100%;
				gap: 20px;
				.img {
					width: 72px;
					height: 72px;
				}

				.name {
					color: var(--white);
					font-family: Righteous;
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}

			.price {
				color: var(--secondary);
				text-align: right;
				font-family: Urbanist;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}
	}
}
