.popular-products {
	text-align: center;
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 56px;

	.cards {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.card {
			background-color: var(--card, var(--app));
			padding: 48px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 36px;

			.info {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;

				.rate {
					display: flex;
					gap: 12px;

					.prefix {
						color: var(--secondary);
						font-family: Urbanist;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						text-transform: uppercase;
					}

					.rates {
						display: flex;
						align-items: center;
						gap: 4px;
					}
				}

				.name {
					color: var(--white);
					font-family: Righteous;
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-transform: uppercase;
				}

				.price {
					color: var(--white);
					font-family: Urbanist;
					font-size: 18px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
					text-transform: uppercase;

					.current {
						color: var(--secondary);
					}
				}
			}
		}
	}
}
