:root {
	--white: #ffffff;
	--black: #000000;
	--primary: #274c5b;
	--navbar-search-background: #fafafa;
	--navbar-search-button-background: #7eb693;
	--navbar-cart-border-color: #e0e0e0;
	--heading-sub-title-color: #68a47f;
	--btn-warning-bg: #efd372;
}
