@use '../utils/mixins';
@use 'sass:color';

.navbar {
	display: flex;
	align-items: center;
	padding: 70px 0;
	height: 216px;
	box-sizing: border-box;

	.brand {
		display: flex;
		align-items: center;
		gap: 8px;

		&__name {
			color: var(--primary);
			@include mixins.font(38px, normal, 700, normal);
		}
	}

	.menu {
		list-style-type: none;
		display: flex;
		gap: 32px;
		margin-left: 100px;
		align-items: center;
		&__item {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 0%;
				opacity: 1;
				height: 4px;
				bottom: -6px;
				left: 50%;
				transform: translateX(-50%);

				background-color: var(--primary);
				transition: width 0.3s ease-in-out;
			}

			&--active {
				&::before {
					width: 100%;
				}
			}

			&:hover::before {
				width: 100%;
			}
		}

		&__link {
			text-decoration: none;
			color: inherit;
			color: var(--primary);
			@include mixins.font(20px, normal, 700, normal);
		}
	}

	.search {
		display: flex;
		margin-left: 100px;
		width: 300px;
		height: 66px;
		background-color: var(--navbar-search-background);
		padding: 5px 6px;
		border-radius: 36px;
		align-items: center;
		justify-content: space-between;
		gap: 8px;

		&__input {
			border: none;
			outline: none;
			background-color: transparent;
			color: var(--primary);
			@include mixins.font(18px, normal, 400, normal);
			flex: 1;

			&::placeholder {
				font-style: italic;
			}
		}

		&__button {
			width: 56px;
			height: 56px;
			background-color: var(--navbar-search-button-background);
			color: var(--white);
			border: none;
			border-radius: 50%;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:active {
				transform: scale(0.96);
			}
		}
	}

	.cart {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-left: 18px;
		border-radius: 33px;
		border: 1px solid var(--navbar-cart-border-color);
		padding: 5px 6px;
		width: max-content;

		&__button {
			background-color: var(--primary);
			color: var(--white);
			border: none;
			border-radius: 50%;
			box-sizing: border-box;
			min-width: 56px;
			min-height: 56px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			&:active {
				transform: scale(0.96);
			}
		}
		&__count {
			color: var(--primary);
			@include mixins.font(18px, normal, 600, normal);
		}
	}
}
